body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  min-height: 100vh;
  background-color: rgb(4, 0, 30); 
  color: white;                   
}

main {
  margin: 20px;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(43, 42, 42);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(0, 0, 0);
}

.navbar li {
  float: left;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgb(16, 0, 121);
  color: white;
}

h1 {
  margin: 0;
  font-family: "sabre shark", sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: "sabre shark", sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
}

a {
  display: inline-flex;
  position: relative;
  color: white;
  transition: all 0.1s;
  text-decoration-thickness: 2px;
}

a .text {
  position: relative;
  z-index: 4;
}

a .bg {
  flex-grow: 1;
  position: absolute;
  background-color: rgb(16, 0, 121);
  width: 0%;
  height: 100%;
  z-index: 3;
  right: 0;
  transition: all 0.2s;
}

a:hover .text {
  color: white;
}

a:hover .bg {
  width: 100%;
  left: 0;
}

section#first {
  /*background: linear-gradient(to right, #f8a902, #f4762d);*/
  display: flex;
  flex-flow: row;
  background: hsl(36, 100%, 79%);
  background: linear-gradient(25deg, hsl(36, 100%, 79%) 0%, hsl(117, 100%, 84%) 100%);
  background: black;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  overflow: hidden;
  position: relative;
  padding: 10rem;
  color: white;
}

section#first * {
  z-index: 2;
}

section#first div {
  flex-grow: 3;
}

section#first .left {
  display: flex;
  max-width: 50%;
  min-width: 400px;
  padding: 50px 0;
  padding-left: 0px;
}

section#first .left .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#first .left img {
  border-radius: 8px;
  width: 100%;
  max-width: 270px;
}

section#first .right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 200px;
}

section#first .right .links {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

section#first .right .instagram-icon {
  width: 2rem;
  fill: white;
  transition: 0.2s ease-out;
}

section#first .right #instagram-colored {
  fill: url("#gradient");
  opacity: 0;
  position: absolute;
}

section#first .right #instagram-anchor {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

section#first .right #instagram-anchor:hover #instagram-colored {
  opacity: 1;
}

section#first .right #instagram-anchor:hover #instagram-mono {
  opacity: 0;
}

#powairx-logo {
  transition: 200ms ease-out;
}

#bgvideo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
  filter: brightness(0.6);
}

a.aboutus:hover {
  /* HACK incoming */
  padding-right: 0px;
  color: yellow;
  text-decoration: none;
}

a.aboutus:hover span {
  width: 20%;
  opacity: 1;
}

section#about {
  padding: 1rem;
}

section#about .orospu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: rgba(200, 200, 200, 0.2) solid 1px; /* più visibile su sfondo scuro */
}

section#about .orospu:last-child {
  border-bottom: none;
}

section#about .orospu .info {
  flex-basis: 20rem;
  flex-grow: 1;
}

section#about .orospu .info h3 {
  font-family: "sabre shark", sans-serif;
  align-items: end;
  font-size: 2.5rem;
}

section#about .orospu img.photo {
  min-width: 0;
  max-height: 15rem;
  margin-right: 1rem;
  border-radius: 8px;
}

section#about .orospu .country-flag {
  width: 2rem;
}

.aboutus{
  text-decoration: none;
}

.star-symbol {
  font-size: 40px !important;
}

@media (width < 38rem) {
  section#about h3 {
    text-align: center;
  }
}

@media (width < 50rem) {
  section#first {
    flex-direction: column;
    justify-content: center;
  }

  section#first .right {
    align-items: center;
  }

  section#first .right * {
    text-align: center;
  }
}

@media (width > 60rem) {
  section#about {
    padding: 0 10rem;
  }
}

/* Blocchetto prefers-color-scheme RIMOSSO per avere sempre tema scuro */

/*# sourceMappingURL=style.css.map */

.person {
  display: flex;
  justify-content: center;
  min-width: 900px;
  margin: 10px 0;
}

.person img {
  width: 200px;
  margin-right: 10px;
}

/*this is the text animation*/

.text-slide{
  text-align: center;
}

.text-slide>div{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 40px;
  font-family: "sabre shark", sans-serif;
  text-align: center;
}

.text-querio span{
  display: block;
}

.text-querio{
  position: relative;
  animation: text-animation ease 8s infinite;
}

@keyframes text-animation{
  0%{
    top: 0;
  }
  10%{
    top: 0;
  }
  20%{
    top: -40px;
  }
  30%{
    top: -40px;
  }
  40%{
    top: -80px;
  }
  50%{
    top: -80px;
  }
  60%{
    top: -120px;
  }
  70%{
    top: -120px;
  }
  80%{
    top: -160px;
  }
  90%{
    top: -160px;
  }
  100%{
    top: 0px;
  }
}
